<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <textarea class="form-control" placeholder="Leave a comment" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && commentForm.controls['comment'].errors }"></textarea>
        <div class="invalid-feedback" *ngIf="submitted && commentForm.controls['comment'].errors">
            <div *ngIf="commentForm.controls['comment'].errors.required">Comentario es requerido.</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Insertar</button>
    </div>
</form>